<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;font-size:15px">
    <strong><span style="font-size:20px">GitHub项目地址：</span><span><a href="https://nf.mccloud.vip"
                                                                        style="color:red;font-size:20px;text-decoration:none">点击查看</a></span></strong></br>
    <strong><span style="font-size:20px">牧场流媒体支持状态实时检测图：</span><span><a href="https://nf.mccloud.vip"
                                                                        style="color:red;font-size:20px;text-decoration:none">点击查看</a></span></strong></br>

</div>
</body>
</html>